<p style="color: green"><%= notice %></p>

<%= render @appearance %>

<div>
  <%= link_to "Edit this appearance", edit_appearance_path(@appearance) %> |
  <%= link_to "Back to appearances", appearances_path %>

  <%= button_to "Destroy this appearance", @appearance, method: :delete %>
</div>
